body{
  margin: 0px;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.h{
  display: flex;
  align-items: center;
}

img{
  width: 250px;
  height: 200px;
  display: flex;
  align-self: center;
}


h3{
  background-color: #05023d;
  width: 1366px;
  height: 40px;
  color: white;

}

input{
  background-color: #05023D;
  color: white;
}
